{% extends 'working_page.html' %}
{% block add_link %}
{% load static %}
<link href="{% static 'css/create_categories.css' %}" rel="stylesheet">
<link href="{% static 'css/all_show_categories.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class = "row w-100 py-1 gx-2 d1">
    <div class="col-12 h-auto d2 h-100 px-3 all_categories_content" >
        <div class = "w-100 right_info py-3">
            <div class = "d-flex justify-content-center mb-3">
                <div class="title_left text-center px-4">{{ category.title }}</div>
            </div>
            <div  class = "border d-block task p-1 position-relative">
                <button type = "button" class = "btn position-absolute btn-warning btn-sm about " data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-three-dots-vertical"></i></button>
                <div class = "container-fluid">
                    <div class = "row">
                        <div class = "col text-start position-relative indent"><div class = "flag"><div class = "position-relative"><i class="bi bi-check p-0 m-0 check"></i></div></div> Задача №1</div>
                    </div>
                    <div class = "row mb-2">
                        <div class = "col-8 description indent">
                            Тут будет описание оооооооооооооооооооооооооооооочччччччччччччччеееееееееееннннннннннннньььььььь длинноое описание
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "col-4 d-sm-inline-block d-none  text-start data_event indent">
                            <i class="bi bi-calendar3-event"></i> 20 мая
                        </div>
                        <div class = "col-8 d-sm-inline-block d-none text-end categories">
                            <a class = "categorie" href = "#">Категория1</a>/
                            <a class = "categorie" href = "#">Категория1</a>/
                            <a class = "categorie" href = "#">Категория1</a>
                        </div>
                    </div>
                </div>
            </div>
            {% if not list_tasks_categories %}
            <p>Пока тут нет задач</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block add_scripts %}
{% load static %}
{% endblock %}